{% set page_title = title ~ "バージョンアップ配信最終確認" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}


{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
<form method="post" autocomplete="off">

	{% if message!=null %}
			<div class="alert-danger p-3">{{ message }}</div>
	{% endif %}

	<div class="jumbotron">
		<h2 class="text-center">
			{{ title }}　バージョンアップ配信最終確認
		</h2>
		<input type="hidden" name="title" value="{{ title }}">
		<div class="container py-5 text-center">
			<p>
				アップデート配信前の最終確認です。誤字・脱字を含めた記述内容と、全てのリンクの繊維を確認して問題なければＯＫボタンを押してください。更新リクエストが送信されます。
			</p>
		</div>
	</div>

	<dl>
		<dt>キーワード</dt>
		<dd>{{ keyword }}</dd>
	</dl>
	<input type="hidden" name="keyword" value="{{ keyword }}">

	<dl>
		<dt>リリースバージョン</dt>
		<dd><a href="{{ releaseUrl }}">{{ version }}</a></dd>
	</dl>
	<input type="hidden" name="version" value="{{ version }}">
	<input type="hidden" name="releaseId" value="{{ releaseId }}">
	<input type="hidden" name="releaseUrl" value="{{ releaseUrl }}">

	<dl>
		<dt>お知らせ文字列</dt>
		<dd>{{ infoString }}</dd>
	</dl>
	<input type="hidden" name="infoString" value="{{ infoString }}">

	<dl>
		<dt>バージョン履歴掲載情報</dt>
		<dd><pre>{{ detailString }}</pre></dd>
	</dl>
	<input type="hidden" name="detailString" value="{{ detailString }}">

	<dl>
		<dt>リリースファイル</dt>
		<dd><a href="{{ fileUrl }}">{{ file }}</a></dl>
	<input type="hidden" name="file" value="{{ file }}">
	<input type="hidden" name="fileUrl" value="{{ fileUrl }}">

	<dl>
		<dt>パッチファイル</dt>
		<dd><a href="{{ patchUrl }}">{{ patch }}</a></dl>
	<input type="hidden" name="patch" value="{{ patch }}">
	<input type="hidden" name="patchUrl" value="{{ patchUrl }}">

	<dl>
		{% if hidden=="no" %}
			<dt>このソフトウェアは、公開ソフトウェア一覧に表示されます。</dt>
		{% else %}
			<dt>このソフトウェアは、公開ソフトウェア一覧から隠されます。</dt>
		{% endif %}
	</dl>
	
	<input type="hidden" name="step" value="confirm">
	<input type="hidden" name="type" value="{{ type }}">
	<input type="hidden" name="hidden" value="{{ hidden }}">
	<input type="hidden" name="flag" value="{{ flag }}">

	<input type="submit" value="ＯＫ">
	{{ csrf_field() | raw }}
</form>


{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
