{% set page_title = "注文一覧" %}


{#レイアウト継承#}
{% extends "layout/layout.twig" %}


{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}


{# ページ本文 #}
{% block page_content %}

	<div class="jumbotron">
		<h2 class="text-center">
			注文一覧
		</h2>
		<div class="container py-5 text-center">
			<p>
                注文の確認と処理ができます。
            </p>
		</div>
	</div>

	<div>
		<h3>入金待ち({{ waiting_orders | length }} 件)</h3>
        {% for o in waiting_orders %}
            <div class="row">
                <div class="col-12 col-md-1">{{ o.id }}</div>
                <div class="col-12 col-md-2">{{ o.name }}</div>
                <div class="col-12 col-md-5">{{ o.product_name }} / {{ o.edition }} * {{ o.quantity }}</div>
                <div class="col-4 col-md-1">\{{ o.total_price }}</div>
                <div class="col-6 col-md-2">{{ o.payment_type_text }} {{ o.status_text }}</div>
                <div class="col-2 col-md-1">
					<a href="{{ o.id }}" class="btn btn-primary py-0">詳細</a>
                </div>
            </div>
        {% endfor %}

        {% for year,year_data in orders %}
			<h3>{{ year }} 年</h3>
			{% for month,month_data in year_data %}
				<h4>{{ month }} 月({{ month_data | length }}件)</h4>
				{% for o in month_data %}
		            <div class="row">
        		        <div class="col-12 col-md-1">{{ o.id }}</div>
                		<div class="col-12 col-md-2">{{ o.name }}</div>
		                <div class="col-12 col-md-5">{{ o.product_name }} / {{ o.edition }} * {{ o.quantity }}</div>
        		        <div class="col-4 col-md-1">\{{ o.total_price }}</div>
                		<div class="col-6 col-md-2">{{ o.payment_type_text }} {{ o.status_text }}</div>
		                <div class="col-2 col-md-1">
							<a href="{{ o.id }}" class="btn btn-primary py-0">詳細</a>
		                </div>
		            </div>
				{% endfor %}
			{% endfor %}
        {% endfor %}

    </div>

	<div class="container my-5">
		<div class="btn btn-primary"><a href="{{ get_base_path() }}/admin/" class="text-white">管理者メニュートップへ戻る</a></div>
	</div>
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
