{% set page_title = "お知らせ配信" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}


{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	{% if message!=null %}
			<div class="alert-danger p-3">{{ message }}</div>
	{% endif %}

	<div class="jumbotron">
		<h2 class="text-center">
			お知らせ配信
		</h2>
		<div class="container">
			<p>
				トップページに表示されるお知らせを配信します。
				配信には他のメンバーによる確認が必要です。
			</p>
		</div>
	</div>


	<div class="text-white bg-primary p-1">
		<h3>配信内容</h3>
	</div>
	<form method="post" class="container">
		<div class="container py-5">
			<div class="row mb-3">
				<label class="col-3"> 内容</label>
				<input class ="col-9" type="text" name="infoString" value="{{ infoString }}" required">
			</div>
			<div class="row mb-3">
				<label class="col-3">URL</label>
				<input class="col-9" type="text" name="infoURL" value="{{ infoURL }}">
			</div>
		</div>
		<input type="hidden" name="type" value="informations">
		<input type="hidden" name="step" value="{{ step }}">
		<input type="submit" class="bg-primary h1 text-white" value="次へ">
		{{ csrf_field() | raw }}
	</form>

	<div class="container my-5">
		<div class="btn btn-primary"><a href="{{ get_base_path() }}/admin/" class="text-white">管理者メニュートップへ戻る</a></div>
	</div>
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
