{% set page_title = about.title %}
{% set page_description = about.description %}
{% set page_type = "product" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
<div class="jumbotron">
		<h2 class="text-center">
			{{ about.title }}
		</h2>
	</div>


	<div class="row">
		<div class="col-xl-9 pr-1">
			<div class="text-white bg-primary p-1">
				<h3 class="my-0">概要</h3>
			</div>
			<div class="container py-5">
				<p>{{ about.description }}</p>
			</div>
			<div class="text-white bg-primary p-1">
				<h3 class="my-0">特徴・機能</h3>
			</div>
			<div class="container py-5">
				<ul class="list-group">
					{% for feature in about.features %}
						<li class="my-3">
							<h4>{{ feature.0 }}</h4>
							<div class="container">
								{{ feature.1 | raw }}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-xl-3">
			<div class="text-white bg-primary text-center mb-2 p-1">
				<h3 class="my-0">ダウンロード</h3>
			</div>
			<div class="container">
				<p class="text-center"><a class="btn btn-success btn-lg" href="{{ versions.0.package_URL }}">最新版ダウンロード</a></p>
				<p class="text-center"><a class="btn" href="{{ about.snapshotURL }}">開発中α版ダウンロード</a></p>
			</div>

			<div class="text-white bg-primary text-center p-1">
				<h3 class="my-0">関連リンク</h3>
			</div>
			<div class="container">
				<p><a class="btn" href="https://github.com/{{ about.gitHubURL }}">GitHubリポジトリ</a></p>
			</div>

			<div class="text-white bg-primary text-center p-1">
				<h3 class="my-0">主担当メンバー</h3>
			</div>
			<div class="container my-3">
				<div class="text-center">
					<p class="font-weight-bold">{{ staff.name }}</p>
					<br>
					{{ staff.links | raw }}
				</div>
			</div>
		</div>
	</div>

	<div class="text-white bg-primary p-1">
		<h3 class="my-0">バージョン一覧</h3>
	</div>
	<div class="container pb-5 mb-5">
		{% for version in versions %}
			<ul class="list-group">
				<li class="my-3">
					<h4>{{ version.versionText }}</h4>
					<div class="row">
						<div class="col-md-9 col-lg-10">
							<div class="container">
								<p><b>{{ version.released_at }}</b></p>
								{%for hist in version.hist_text %}
									{{ hist | nl2br }}
								{% endfor %}
							</div>
						</div>
						<div class="col-md-3 col-lg-2 text-center py-2">
							<a class="btn btn-success" href="{{ version.package_URL }}">ダウンロード</a>
						</div>
					</div>
				</li>
			</ul>
		{% endfor %}
	</div>


{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
