{% set title = "公開ソフトウェア一覧" %}
{% set description = "私たちが開発・公開しているソフトウェアをご紹介しています。" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			公開ソフトウェア一覧
		</h2>
		<div class="container px-5">
			<p>ここでは、私たちが開発・公開しているソフトウェアをご紹介しています。各ソフトウェアのページに、より詳細な説明とダウンロードリンクを記載しています。</p>
		</div>
	</div>


	<div class="card">
		<div class="card-body">
			<div class="card-title text-white bg-primary">
				<div class="row">
					<div class="col-sx-12 col-sm-8 col-lg-9 d-flex align-items-center px-5">
						<h3 class="h2 my-0">公開するソフトウェアについて</h3>
					</div>
				</div>
			</div>
			<div class="card-text">
				<div class="row py-3">
					<div class="col-md-8 col-lg-9">
						<div class="container pl-5">
							<p>当サイトが公開するソフトウェアの動作環境や利用条件など、一般的な情報を掲載しています。</p>
						</div>
					</div>
					<div class="text-center align-items-center col-md-4 col-lg-3">
						<div class="text-center align-items-center">
							<a class="btn btn-success" href="information">情報表示</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{% for soft in softwares %}
		<div class="card">
			<div class="card-body">
				<div class="card-title text-white bg-primary">
					<div class="row">
						<div class="col-sx-12 col-sm-8 col-lg-9 d-flex align-items-center px-5">
							<h3 class="h2 my-0">{{ soft.title }}</h3>
						</div>
						<div class="hidden-xs col-sm-4 col-lg-3 align-items-center">
							<p class="my-1">バージョン:{{ soft.versionText }}</p>
							<p class="my-1">最終更新:{{ soft.released_at }}</p>
						</div>
					</div>
				</div>
				<div class="card-text">
					<div class="row py-3">
						<div class="col-md-8 col-lg-9">
							<div class="container pl-5">
								<p>{{ soft.description }}</p>
							</div>
						</div>
						<div class="text-center align-items-center col-md-4 col-lg-3">
							<div class="text-center align-items-center">
								<a class="btn btn-success" href="{{ soft.keyword }}">詳細・ダウンロード</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
