{% set page_title = about.title %}


{#レイアウト継承#}
{% extends "layout/layout.twig" %}


{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
<div class="jumbotron">
		<h2 class="text-center">
			{{ about.title }}
		</h2>
	</div>


	<div class="row">
		<div class="col-xl-8">
			<div class="text-white bg-primary p-1">
				<h3>概要</h3>
			</div>
			<div class="container py-5">
				<p>{{ about.description }}</p>
			</div>
			<div class="text-white bg-primary p-1">
				<h3>特徴・機能</h3>
			</div>
			<div class="container py-5">
				<ul class="list-group">
					{% for feature in features %}
						<li class="my-3">
							<h3>{{ feature.0 }}</h3>
							<div class="container">
								{{ feature.1 }}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-xl-1">
			<!-- 余白スペース -->
		</div>
		<div class="col-xl-3">
			<div class="text-white bg-primary text-center">
				<h2>ダウンロード</h2>
			</div>
			<div class="container">
				<p><a class="btn btn-primary btn-lg" href="{{ versions.0.package_URL }}">最新版ダウンロード</a></p>
				<p><a class="btn" href="{{ about.snapshotURL }}">開発中α版ダウンロード</a></p>
			</div>

			<div class="text-white bg-primary text-center">
				<h2>関連リンク</h2>
			</div>
			<div class="container">
				<p><a class="btn" href="{{ about.gitHubURL }}">GitHubリポジトリ</a></p>
			</div>

			<div class="text-white bg-primary text-center">
				<h2>主担当メンバー</h2>
			</div>
			<div class="container">
				<div class="text-center">
					<p class="font-weight-bold">{{ staff.name }}</p>
					<br>
					{{ staff.links | raw }}
				</div>
			</div>
		</div>
	</div>

	<div class="text-white bg-primary p-1">
		<h3>バージョン一覧</h3>
	</div>
	<div class="container pb-5 mb-5">
		{% for version in versions %}
			<ul class="list-group">
				<li class="my-3">
					<div class="row">
						<div class="col-10">
							<h3>{{ version.versionText }}</h3>
							<div class="container">
								{{ version.hist_text }}
							</div>
						</div>
						<div class="col-2">
							<a class="btn btn-primary" href="{{ version.package_URL }}">ダウンロード</a>
						</div>
					</div>
				</li>
			</ul>
		{% endfor %}
	</div>


{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
