{% set page_title = "管理ソフトウェア選択" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}


{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			公開ソフトウェア管理
		</h2>
		<div class="container rx-5 mx-5">
			<p>公開ソフトウェアの管理ページです。ソフトウェアを選択するとバージョンアップ操作ができます。</p>
		</div>
	</div>


	{% for soft in softwares %}
		<div class="card">
			<div class="card-body">
				<div class="card-title text-white bg-primary">
					<div class="row">
						<div class="col-sx-12 col-sm-9 d-flex align-items-center px-5">
							<h3 class="h2">{{ soft.title }}</h3>
						</div>
						<div class="hidden-xs col-sm-3">
							<p>バージョン:{{ soft.versionText }}</p>
							<p>最終更新日:{{ soft.released_at }}</p>
						</div>
					</div>
				</div>
				<div class="card-text">
					<div class="row py-3">
						<div class="col-sm-9">
							<div class="container pl-5">
								<p>{{ soft.description }}</p>
							</div>
						</div>
						<div class="hidden-xs col-sm-3">
							<p><a class="btn btn-primary" href="edit/{{ soft.keyword }}">情報編集</a></p>
							<p><a class="btn btn-primary" href="update/{{ soft.keyword }}">バージョンアップ</a></p>
							<p><a class="btn btn-primary" href="{{ soft.keyword }}/versions">公開中バージョン管理</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

	<!-- 新規ソフト -->
	<div class="card">
		<div class="card-body">
			<div class="card-title text-white bg-primary">
				<div class="row">
					<div class="col-sx-12 col-sm-9 d-flex align-items-center px-5">
						<h3 class="h2">新規登録</h3>
					</div>
					<div class="hidden-xs col-sm-3">
						<p>バージョン:新規</p>
						<p>最終更新日:これから</p>
					</div>
				</div>
			</div>
			<div class="card-text">
				<div class="row py-3">
					<div class="col-sm-9">
						<div class="container pl-5">
							<p>新規ソフトウェアを登録します。</p>
						</div>
					</div>
					<div class="hidden-xs col-sm-3">
						<a class="btn btn-primary" href="edit/NEW">登録</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
